
#container {
  width: 176px;
  height: 176px;
  border: 2px solid black;
}

#container div {
  width: 40px;
  height: 40px;
  float: left;
  line-height: 40px;
  text-align: center;
  border: 1px solid black;
  margin: 1px;
}

#container #f-empty {
  border: 0;
  margin: 2px;
}